<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<!-- 
<div class="content">
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
  <button (click)="reset()">Reset</button>
  <h3>{{counter$ | async}}</h3>
</div> -->

<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/second-page" routerLinkActive="active">2nd page</a>
</nav>
<router-outlet></router-outlet>